{% extends 'base.html.twig' %}
{% block title 'Galerie' %}

{% block body %}
    <div>
        {{ include('layout/_header-nav-admin.html.twig') }}
    </div>
    {# Ajouter Galerie #}
    <div id="login" class="section-height">
        <div class="offset-2 col-8 py-10">
            <div class="row m-0">
                <h2 class="form-padding m-auto">Crée votre Galerie</h2>
            </div>
            {{ include('admin/galerie/_form.html.twig', {form: form, button: 'Editer'}) }}
        </div>
    </div>
{% endblock %}